body {
    font-family: 'Open Sans', "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-weight: 300;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

* {
    font-family: 'Open Sans', "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-weight: 300;
}

.table-menu {
    margin-bottom: 15px;
}

.menu-item {
    font-size: 1.3em;
    text-align: center;
    display: inline-block;
}

a.menu-item-link {
    display: inline-block;

    text-decoration: none;
    color: #91282a;
    /*color: #000000;*/
    /* background-color: #f2f2f2; */
    margin-bottom: 5px;
    padding: 10px;
    width: 180px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s;
}

a.menu-item-link:hover {
    color: #f2f2f2;
    background-color: #b16d6f;
}

.btn.btn-appartment {
    background-color: #91282a;
    border: none;
    color: white;
    text-transform: uppercase;
}

.btn.btn-appartment:hover, .btn.btn-appartment:focus {
    background-color: #b16d6f;
}

.awesome-background {
    height: 100%;
    background-size: cover;
    background: url('/img/background.jpg') no-repeat fixed center;
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

.grid-select .form-group {
    display: inline-block;
    text-transform: uppercase;
    background-color: antiquewhite;
    padding: 0 5px;
}

.grid-select .form-group label {
    padding: 10px;
    display: inline-block;
}

.advert {
    height: 150px;
    margin-top: 60px;
    border: #e8e8e8 solid 1px;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
}

.advert span {
    font-size: 1.8em;
    vertical-align: middle;
    display: block;
    margin-top: 50px;
}

.profile .form-group span {
    font-size: 1.8em;
}